<!DOCTYPE html>
<html>
<head>
  <title>RailsMybbIntegration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
    <% flash.each do |k,v| %>
      <%= v %>
    <% end %>
  </center>
<%= yield %>

</body>
</html>
